USE [master]
GO
/****** Object:  Database [ASM1_cs2]    Script Date: 13/08/2024 10:25:15 CH ******/
CREATE DATABASE [ASM1_cs2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASM1_cs2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ASM1_cs2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASM1_cs2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ASM1_cs2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASM1_cs2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASM1_cs2]
GO
/****** Object:  Table [dbo].[Appearance_DIM]    Script Date: 13/08/2024 10:25:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appearance_DIM](
	[Appearance_int] [int] IDENTITY(1,1) NOT NULL,
	[FurLength] [varchar](13) NOT NULL,
	[MaturitySize] [varchar](13) NOT NULL,
 CONSTRAINT [PK_Appearance_DIM] PRIMARY KEY CLUSTERED 
(
	[Appearance_int] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Breed_DIM]    Script Date: 13/08/2024 10:25:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Breed_DIM](
	[Breed_id] [int] IDENTITY(1,1) NOT NULL,
	[Breed] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Breed_DIM] PRIMARY KEY CLUSTERED 
(
	[Breed_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color_DIM]    Script Date: 13/08/2024 10:25:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color_DIM](
	[Color_id] [int] IDENTITY(1,1) NOT NULL,
	[Color] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Color_DIM] PRIMARY KEY CLUSTERED 
(
	[Color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender_DIM]    Script Date: 13/08/2024 10:25:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender_DIM](
	[Gender_id] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [varchar](6) NOT NULL,
 CONSTRAINT [PK_Gender_DIM] PRIMARY KEY CLUSTERED 
(
	[Gender_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health_DIM]    Script Date: 13/08/2024 10:25:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health_DIM](
	[Health_id] [int] IDENTITY(1,1) NOT NULL,
	[Health] [varchar](14) NOT NULL,
	[Dewormed] [varchar](8) NOT NULL,
	[Sterilized] [varchar](8) NOT NULL,
	[Vaccinated] [varchar](8) NOT NULL,
 CONSTRAINT [PK_Health_DIM] PRIMARY KEY CLUSTERED 
(
	[Health_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pet_FACT]    Script Date: 13/08/2024 10:25:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet_FACT](
	[Pet_id] [int] NOT NULL,
	[Type_id] [int] NOT NULL,
	[Age] [int] NOT NULL,
	[Breed1_id] [int] NOT NULL,
	[Breed2_id] [int] NULL,
	[Gender_id] [int] NOT NULL,
	[Color1_id] [int] NOT NULL,
	[Color2_id] [int] NULL,
	[Color3_id] [int] NULL,
	[Appearance_id] [int] NOT NULL,
	[Health_id] [int] NOT NULL,
	[State_id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Fee] [int] NOT NULL,
	[Rescuer_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State_DIM]    Script Date: 13/08/2024 10:25:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State_DIM](
	[State_id] [int] IDENTITY(1,1) NOT NULL,
	[State] [varchar](8) NOT NULL,
 CONSTRAINT [PK_State_DIM] PRIMARY KEY CLUSTERED 
(
	[State_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_DIM]    Script Date: 13/08/2024 10:25:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_DIM](
	[Type_id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Type_DIM] PRIMARY KEY CLUSTERED 
(
	[Type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
