USE [master]
GO
/****** Object:  Database [CDC_ASM1_cs2]    Script Date: 13/08/2024 10:26:14 CH ******/
CREATE DATABASE [CDC_ASM1_cs2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CDC_ASM1_cs2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CDC_ASM1_cs2.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CDC_ASM1_cs2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CDC_ASM1_cs2_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CDC_ASM1_cs2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CDC_ASM1_cs2]
GO
/****** Object:  User [cdc]    Script Date: 13/08/2024 10:26:14 CH ******/
CREATE USER [cdc] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[cdc]
GO
ALTER ROLE [db_owner] ADD MEMBER [cdc]
GO
/****** Object:  Schema [cdc]    Script Date: 13/08/2024 10:26:14 CH ******/
CREATE SCHEMA [cdc]
GO
/****** Object:  UserDefinedFunction [cdc].[fn_cdc_get_all_changes_dbo_PetFinder_source]    Script Date: 13/08/2024 10:26:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	create function [cdc].[fn_cdc_get_all_changes_dbo_PetFinder_source]
	(	@from_lsn binary(10),
		@to_lsn binary(10),
		@row_filter_option nvarchar(30)
	)
	returns table
	return
	
	select NULL as __$start_lsn,
		NULL as __$seqval,
		NULL as __$operation,
		NULL as __$update_mask, NULL as [Pet_id], NULL as [Type], NULL as [Age], NULL as [Breed1], NULL as [Breed2], NULL as [Gender], NULL as [Color1], NULL as [Color2], NULL as [Color3], NULL as [MaturitySize], NULL as [FurLength], NULL as [Vaccinated], NULL as [Dewormed], NULL as [Sterilized], NULL as [Health], NULL as [Quantity], NULL as [Fee], NULL as [State], NULL as [RescuerID]
	where ( [sys].[fn_cdc_check_parameters]( N'dbo_PetFinder_source', @from_lsn, @to_lsn, lower(rtrim(ltrim(@row_filter_option))), 0) = 0)

	union all
	
	select t.__$start_lsn as __$start_lsn,
		t.__$seqval as __$seqval,
		t.__$operation as __$operation,
		t.__$update_mask as __$update_mask, t.[Pet_id], t.[Type], t.[Age], t.[Breed1], t.[Breed2], t.[Gender], t.[Color1], t.[Color2], t.[Color3], t.[MaturitySize], t.[FurLength], t.[Vaccinated], t.[Dewormed], t.[Sterilized], t.[Health], t.[Quantity], t.[Fee], t.[State], t.[RescuerID]
	from [cdc].[dbo_PetFinder_source_CT] t with (nolock)    
	where (lower(rtrim(ltrim(@row_filter_option))) = 'all')
	    and ( [sys].[fn_cdc_check_parameters]( N'dbo_PetFinder_source', @from_lsn, @to_lsn, lower(rtrim(ltrim(@row_filter_option))), 0) = 1)
		and (t.__$operation = 1 or t.__$operation = 2 or t.__$operation = 4)
		and (t.__$start_lsn <= @to_lsn)
		and (t.__$start_lsn >= @from_lsn)
		
	union all	
		
	select t.__$start_lsn as __$start_lsn,
		t.__$seqval as __$seqval,
		t.__$operation as __$operation,
		t.__$update_mask as __$update_mask, t.[Pet_id], t.[Type], t.[Age], t.[Breed1], t.[Breed2], t.[Gender], t.[Color1], t.[Color2], t.[Color3], t.[MaturitySize], t.[FurLength], t.[Vaccinated], t.[Dewormed], t.[Sterilized], t.[Health], t.[Quantity], t.[Fee], t.[State], t.[RescuerID]
	from [cdc].[dbo_PetFinder_source_CT] t with (nolock)     
	where (lower(rtrim(ltrim(@row_filter_option))) = 'all update old')
	    and ( [sys].[fn_cdc_check_parameters]( N'dbo_PetFinder_source', @from_lsn, @to_lsn, lower(rtrim(ltrim(@row_filter_option))), 0) = 1)
		and (t.__$operation = 1 or t.__$operation = 2 or t.__$operation = 4 or
		     t.__$operation = 3 )
		and (t.__$start_lsn <= @to_lsn)
		and (t.__$start_lsn >= @from_lsn)
	
GO
/****** Object:  UserDefinedFunction [cdc].[fn_cdc_get_net_changes_dbo_PetFinder_source]    Script Date: 13/08/2024 10:26:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	create function [cdc].[fn_cdc_get_net_changes_dbo_PetFinder_source]
	(	@from_lsn binary(10),
		@to_lsn binary(10),
		@row_filter_option nvarchar(30)
	)
	returns table
	return

	select NULL as __$start_lsn,
		NULL as __$operation,
		NULL as __$update_mask, NULL as [Pet_id], NULL as [Type], NULL as [Age], NULL as [Breed1], NULL as [Breed2], NULL as [Gender], NULL as [Color1], NULL as [Color2], NULL as [Color3], NULL as [MaturitySize], NULL as [FurLength], NULL as [Vaccinated], NULL as [Dewormed], NULL as [Sterilized], NULL as [Health], NULL as [Quantity], NULL as [Fee], NULL as [State], NULL as [RescuerID]
	where ( [sys].[fn_cdc_check_parameters]( N'dbo_PetFinder_source', @from_lsn, @to_lsn, lower(rtrim(ltrim(@row_filter_option))), 1) = 0)

	union all
	
	select __$start_lsn,
	    case __$count_650A8917
	    when 1 then __$operation
	    else
			case __$min_op_650A8917 
				when 2 then 2
				when 4 then
				case __$operation
					when 1 then 1
					else 4
					end
				else
				case __$operation
					when 2 then 4
					when 4 then 4
					else 1
					end
			end
		end as __$operation,
		null as __$update_mask , [Pet_id], [Type], [Age], [Breed1], [Breed2], [Gender], [Color1], [Color2], [Color3], [MaturitySize], [FurLength], [Vaccinated], [Dewormed], [Sterilized], [Health], [Quantity], [Fee], [State], [RescuerID]
	from
	(
		select t.__$start_lsn as __$start_lsn, __$operation,
		case __$count_650A8917 
		when 1 then __$operation 
		else
		(	select top 1 c.__$operation
			from [cdc].[dbo_PetFinder_source_CT] c with (nolock)   
			where  ( (c.[Pet_id] = t.[Pet_id]) )  
			and ((c.__$operation = 2) or (c.__$operation = 4) or (c.__$operation = 1))
			and (c.__$start_lsn <= @to_lsn)
			and (c.__$start_lsn >= @from_lsn)
			order by c.__$start_lsn, c.__$command_id, c.__$seqval) end __$min_op_650A8917, __$count_650A8917, t.[Pet_id], t.[Type], t.[Age], t.[Breed1], t.[Breed2], t.[Gender], t.[Color1], t.[Color2], t.[Color3], t.[MaturitySize], t.[FurLength], t.[Vaccinated], t.[Dewormed], t.[Sterilized], t.[Health], t.[Quantity], t.[Fee], t.[State], t.[RescuerID] 
		from [cdc].[dbo_PetFinder_source_CT] t with (nolock) inner join 
		(	select  r.[Pet_id],
		    count(*) as __$count_650A8917 
			from [cdc].[dbo_PetFinder_source_CT] r with (nolock)
			where  (r.__$start_lsn <= @to_lsn)
			and (r.__$start_lsn >= @from_lsn)
			group by   r.[Pet_id]) m
		on t.__$seqval = ( select top 1 c.__$seqval from [cdc].[dbo_PetFinder_source_CT] c with (nolock) where  ( (c.[Pet_id] = t.[Pet_id]) )  and c.__$start_lsn <= @to_lsn and c.__$start_lsn >= @from_lsn order by c.__$start_lsn desc, c.__$command_id desc, c.__$seqval desc ) and
		    ( (t.[Pet_id] = m.[Pet_id]) ) 	
		where lower(rtrim(ltrim(@row_filter_option))) = N'all'
			and ( [sys].[fn_cdc_check_parameters]( N'dbo_PetFinder_source', @from_lsn, @to_lsn, lower(rtrim(ltrim(@row_filter_option))), 1) = 1)
			and (t.__$start_lsn <= @to_lsn)
			and (t.__$start_lsn >= @from_lsn)
			and ((t.__$operation = 2) or (t.__$operation = 4) or 
				 ((t.__$operation = 1) and
				  (2 not in 
				 		(	select top 1 c.__$operation
							from [cdc].[dbo_PetFinder_source_CT] c with (nolock) 
							where  ( (c.[Pet_id] = t.[Pet_id]) )  
							and ((c.__$operation = 2) or (c.__$operation = 4) or (c.__$operation = 1))
							and (c.__$start_lsn <= @to_lsn)
							and (c.__$start_lsn >= @from_lsn)
							order by c.__$start_lsn, c.__$command_id, c.__$seqval
						 ) 
	 			   )
	 			 )
	 			) 
			and t.__$operation = (
				select
					max(mo.__$operation)
				from
					[cdc].[dbo_PetFinder_source_CT] as mo with (nolock)
				where
					mo.__$seqval = t.__$seqval
					and 
					 ( (t.[Pet_id] = mo.[Pet_id]) ) 
				group by
					mo.__$seqval
			)	
	) Q
	
	union all
	
	select __$start_lsn,
	    case __$count_650A8917
	    when 1 then __$operation
	    else
			case __$min_op_650A8917 
				when 2 then 2
				when 4 then
				case __$operation
					when 1 then 1
					else 4
					end
				else
				case __$operation
					when 2 then 4
					when 4 then 4
					else 1
					end
			end
		end as __$operation,
		case __$count_650A8917
		when 1 then
			case __$operation
			when 4 then __$update_mask
			else null
			end
		else	
			case __$min_op_650A8917 
			when 2 then null
			else
				case __$operation
				when 1 then null
				else __$update_mask 
				end
			end	
		end as __$update_mask , [Pet_id], [Type], [Age], [Breed1], [Breed2], [Gender], [Color1], [Color2], [Color3], [MaturitySize], [FurLength], [Vaccinated], [Dewormed], [Sterilized], [Health], [Quantity], [Fee], [State], [RescuerID]
	from
	(
		select t.__$start_lsn as __$start_lsn, __$operation,
		case __$count_650A8917 
		when 1 then __$operation 
		else
		(	select top 1 c.__$operation
			from [cdc].[dbo_PetFinder_source_CT] c with (nolock)
			where  ( (c.[Pet_id] = t.[Pet_id]) )  
			and ((c.__$operation = 2) or (c.__$operation = 4) or (c.__$operation = 1))
			and (c.__$start_lsn <= @to_lsn)
			and (c.__$start_lsn >= @from_lsn)
			order by c.__$start_lsn, c.__$command_id, c.__$seqval) end __$min_op_650A8917, __$count_650A8917, 
		m.__$update_mask , t.[Pet_id], t.[Type], t.[Age], t.[Breed1], t.[Breed2], t.[Gender], t.[Color1], t.[Color2], t.[Color3], t.[MaturitySize], t.[FurLength], t.[Vaccinated], t.[Dewormed], t.[Sterilized], t.[Health], t.[Quantity], t.[Fee], t.[State], t.[RescuerID]
		from [cdc].[dbo_PetFinder_source_CT] t with (nolock) inner join 
		(	select  r.[Pet_id],
		    count(*) as __$count_650A8917, 
		    CAST(NULL AS varbinary(128)) as __$update_mask
			from [cdc].[dbo_PetFinder_source_CT] r with (nolock)
			where  (r.__$start_lsn <= @to_lsn)
			and (r.__$start_lsn >= @from_lsn)
			group by   r.[Pet_id]) m
		on t.__$seqval = ( select top 1 c.__$seqval from [cdc].[dbo_PetFinder_source_CT] c with (nolock) where  ( (c.[Pet_id] = t.[Pet_id]) )  and c.__$start_lsn <= @to_lsn and c.__$start_lsn >= @from_lsn order by c.__$start_lsn desc, c.__$command_id desc, c.__$seqval desc ) and
		    ( (t.[Pet_id] = m.[Pet_id]) ) 	
		where lower(rtrim(ltrim(@row_filter_option))) = N'all with mask'
			and ( [sys].[fn_cdc_check_parameters]( N'dbo_PetFinder_source', @from_lsn, @to_lsn, lower(rtrim(ltrim(@row_filter_option))), 1) = 1)
			and (t.__$start_lsn <= @to_lsn)
			and (t.__$start_lsn >= @from_lsn)
			and ((t.__$operation = 2) or (t.__$operation = 4) or 
				 ((t.__$operation = 1) and
				  (2 not in 
				 		(	select top 1 c.__$operation
							from [cdc].[dbo_PetFinder_source_CT] c with (nolock)
							where  ( (c.[Pet_id] = t.[Pet_id]) )  
							and ((c.__$operation = 2) or (c.__$operation = 4) or (c.__$operation = 1))
							and (c.__$start_lsn <= @to_lsn)
							and (c.__$start_lsn >= @from_lsn)
							order by c.__$start_lsn, c.__$command_id, c.__$seqval
						 ) 
	 			   )
	 			 )
	 			) 
			and t.__$operation = (
				select
					max(mo.__$operation)
				from
					[cdc].[dbo_PetFinder_source_CT] as mo with (nolock)
				where
					mo.__$seqval = t.__$seqval
					and 
					 ( (t.[Pet_id] = mo.[Pet_id]) ) 
				group by
					mo.__$seqval
			)	
	) Q
	
	union all
	
		select t.__$start_lsn as __$start_lsn,
		case t.__$operation
			when 1 then 1
			else 5
		end as __$operation,
		null as __$update_mask , t.[Pet_id], t.[Type], t.[Age], t.[Breed1], t.[Breed2], t.[Gender], t.[Color1], t.[Color2], t.[Color3], t.[MaturitySize], t.[FurLength], t.[Vaccinated], t.[Dewormed], t.[Sterilized], t.[Health], t.[Quantity], t.[Fee], t.[State], t.[RescuerID]
		from [cdc].[dbo_PetFinder_source_CT] t  with (nolock)
		where lower(rtrim(ltrim(@row_filter_option))) = N'all with merge'
			and ( [sys].[fn_cdc_check_parameters]( N'dbo_PetFinder_source', @from_lsn, @to_lsn, lower(rtrim(ltrim(@row_filter_option))), 1) = 1)
			and (t.__$start_lsn <= @to_lsn)
			and (t.__$start_lsn >= @from_lsn)
			and (t.__$seqval = ( select top 1 c.__$seqval from [cdc].[dbo_PetFinder_source_CT] c with (nolock) where  ( (c.[Pet_id] = t.[Pet_id]) )  and c.__$start_lsn <= @to_lsn and c.__$start_lsn >= @from_lsn order by c.__$start_lsn desc, c.__$command_id desc, c.__$seqval desc ))
			and ((t.__$operation = 2) or (t.__$operation = 4) or 
				 ((t.__$operation = 1) and 
				   (2 not in 
				 		(	select top 1 c.__$operation
							from [cdc].[dbo_PetFinder_source_CT] c with (nolock)
							where  ( (c.[Pet_id] = t.[Pet_id]) )  
							and ((c.__$operation = 2) or (c.__$operation = 4) or (c.__$operation = 1))
							and (c.__$start_lsn <= @to_lsn)
							and (c.__$start_lsn >= @from_lsn)
							order by c.__$start_lsn, c.__$command_id, c.__$seqval
						 ) 
	 				)
	 			 )
	 			)
			and t.__$operation = (
				select
					max(mo.__$operation)
				from
					[cdc].[dbo_PetFinder_source_CT] as mo with (nolock)
				where
					mo.__$seqval = t.__$seqval
					and 
					 ( (t.[Pet_id] = mo.[Pet_id]) ) 
				group by
					mo.__$seqval
			)
	 
GO
/****** Object:  Table [dbo].[cdc_states]    Script Date: 13/08/2024 10:26:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cdc_states](
	[name] [nvarchar](256) NOT NULL,
	[state] [nvarchar](256) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetFinder_DEL]    Script Date: 13/08/2024 10:26:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetFinder_DEL](
	[Pet_id] [int] NOT NULL,
	[Type] [varchar](3) NOT NULL,
	[Age] [int] NOT NULL,
	[Breed1] [varchar](255) NOT NULL,
	[Breed2] [varchar](255) NULL,
	[Gender] [varchar](6) NOT NULL,
	[Color1] [varchar](255) NOT NULL,
	[Color2] [varchar](255) NULL,
	[Color3] [varchar](255) NULL,
	[MaturitySize] [varchar](13) NOT NULL,
	[FurLength] [varchar](13) NOT NULL,
	[Vaccinated] [varchar](8) NOT NULL,
	[Dewormed] [varchar](8) NOT NULL,
	[Sterilized] [varchar](8) NOT NULL,
	[Health] [varchar](14) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Fee] [int] NOT NULL,
	[State] [varchar](255) NOT NULL,
	[RescuerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetFinder_INS]    Script Date: 13/08/2024 10:26:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetFinder_INS](
	[Pet_id] [int] NOT NULL,
	[Type] [varchar](3) NOT NULL,
	[Age] [int] NOT NULL,
	[Breed1] [varchar](255) NOT NULL,
	[Breed2] [varchar](255) NULL,
	[Gender] [varchar](6) NOT NULL,
	[Color1] [varchar](255) NOT NULL,
	[Color2] [varchar](255) NULL,
	[Color3] [varchar](255) NULL,
	[MaturitySize] [varchar](13) NOT NULL,
	[FurLength] [varchar](13) NOT NULL,
	[Vaccinated] [varchar](8) NOT NULL,
	[Dewormed] [varchar](8) NOT NULL,
	[Sterilized] [varchar](8) NOT NULL,
	[Health] [varchar](14) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Fee] [int] NOT NULL,
	[State] [varchar](255) NOT NULL,
	[RescuerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetFinder_source]    Script Date: 13/08/2024 10:26:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetFinder_source](
	[Pet_id] [int] NOT NULL,
	[Type] [varchar](3) NOT NULL,
	[Age] [int] NOT NULL,
	[Breed1] [varchar](255) NOT NULL,
	[Breed2] [varchar](255) NULL,
	[Gender] [varchar](6) NOT NULL,
	[Color1] [varchar](255) NOT NULL,
	[Color2] [varchar](255) NULL,
	[Color3] [varchar](255) NULL,
	[MaturitySize] [varchar](13) NOT NULL,
	[FurLength] [varchar](13) NOT NULL,
	[Vaccinated] [varchar](8) NOT NULL,
	[Dewormed] [varchar](8) NOT NULL,
	[Sterilized] [varchar](8) NOT NULL,
	[Health] [varchar](14) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Fee] [int] NOT NULL,
	[State] [varchar](255) NOT NULL,
	[RescuerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetFinder_tmp]    Script Date: 13/08/2024 10:26:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetFinder_tmp](
	[Pet_id] [int] NOT NULL,
	[Type] [varchar](3) NOT NULL,
	[Age] [int] NOT NULL,
	[Breed1] [varchar](255) NOT NULL,
	[Breed2] [varchar](255) NULL,
	[Gender] [varchar](6) NOT NULL,
	[Color1] [varchar](255) NOT NULL,
	[Color2] [varchar](255) NULL,
	[Color3] [varchar](255) NULL,
	[MaturitySize] [varchar](13) NOT NULL,
	[FurLength] [varchar](13) NOT NULL,
	[Vaccinated] [varchar](8) NOT NULL,
	[Dewormed] [varchar](8) NOT NULL,
	[Sterilized] [varchar](8) NOT NULL,
	[Health] [varchar](14) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Fee] [int] NOT NULL,
	[State] [varchar](255) NOT NULL,
	[RescuerID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetFinder_UPD]    Script Date: 13/08/2024 10:26:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetFinder_UPD](
	[Pet_id] [int] NOT NULL,
	[Type] [varchar](3) NOT NULL,
	[Age] [int] NOT NULL,
	[Breed1] [varchar](255) NOT NULL,
	[Breed2] [varchar](255) NULL,
	[Gender] [varchar](6) NOT NULL,
	[Color1] [varchar](255) NOT NULL,
	[Color2] [varchar](255) NULL,
	[Color3] [varchar](255) NULL,
	[MaturitySize] [varchar](13) NOT NULL,
	[FurLength] [varchar](13) NOT NULL,
	[Vaccinated] [varchar](8) NOT NULL,
	[Dewormed] [varchar](8) NOT NULL,
	[Sterilized] [varchar](8) NOT NULL,
	[Health] [varchar](14) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Fee] [int] NOT NULL,
	[State] [varchar](255) NOT NULL,
	[RescuerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [cdc_states_name]    Script Date: 13/08/2024 10:26:14 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [cdc_states_name] ON [dbo].[cdc_states]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
